<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.smhrd.bigdata.mapper.MemberMapper">

<!--  resultType : 결과 타입 (insert, update, delete) : int / select : 지정)-->
<!-- parametertype : 파라미터 타입(-> 호출되는 mapper의 메서드 매개인자의 type  -->
<!--  id = sql문 구분하기 위해 작성하는 값 -> mapper 함수 이름과 같게 해줘야 한다-->
<insert id="join" parameterType="com.smhrd.bigdata.entity.Member">
insert into member values (#{email}, #{pw}, #{tel}, #{address})
</insert>

<!-- <select id= "login" parameterType="com.smhrd.bigdata.entity.Member" resultType="com.smhrd.bigdata.entity.Member">
select * from member where email = #{email} and pw = #{pw}
</select> -->


</mapper>