* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	scroll-behavior: smooth;
	font-family: 'SUIT-Regular';
	list-style: none;
	text-decoration: none;
}

header {
	position: fixed;
	top: 0;
	right: 0;
	width: 100%;
	padding: 20px 10%;
	display: flex;
	justify-content: space-between;
	align-items: center;
	/* background: #EDF2F6; */
	background:FFFFE0;
	z-index: 1000;
}

.logo img {
	width: 80%;
	height: auto;
}

.navmenu {
	display: flex;
}

.btn-search, .navmenu a, .logout-btn {
	width: 85px;
	height: 32px;
	font-size: 16px;
	color: #2C2C2C;
	font-weight: 400;
	text-decoration: none;
	margin-left: 20px;
	text-transform: uppercase;
	padding: 6px 15px;
	transition: all 0.42s ease;
	background:  #EDF2F6;
	border-radius: 30px;
	border:none;
	/* background: #ffffe0; */
	/* border: 3px solid gold; */
}

.navmenu a:hover span, .navmenu a.active span {
	transform: scale(1);
	opacity: 1;
}

.navmenu a:hover, .navmenu a.active {
	color: #EDF2F6;
}

.nav-icon {
	display: flex;
	align-items: center;
}

.nav-icon i {
	margin-right: 20px;
	color: #2C2C2C;
	font-size: 25px;
	font-weight: 400;
	transition: all .42s ease;
}

.nav-icon i:hover {
	transform: scale(1.1);
	color: red;
}

#menu-icon {
	font-size: 35px;
	color: #2C2C2C;
	z-index: 10001;
	cursor: pointer;
}

section {
	padding: 15% 10%;
}

.evaluate-container{
	background: #EDF2F6; 
	text-align: center;
}

.evaluate-container input{
	width:150px;
	height:30px;
}

.evaluate-container button{
	background-color:#ffffe0;
	color:black;
	width: 80px;
	height: 30px;
}

#selected_post{
	width:150px;
	height:30px;
}

#reviewContent{
	width:300px;
	height:50px;
}